*.env
.env.example
airflow/logs/
__pycache__/
*.pyc
.DS_Store

# dbt
dbt/target/
dbt/dbt_packages/
dbt/logs/

# Ignoring Phase 2 planning document
Phase-2.md

# Virtual environment in dbt
dbt/.venv/
streamlit_app/.streamlit/secrets.toml

# Ignore interview prep notes and scratch files
*interview_prep*
